gradio[oauth]
requests
google-cloud-dataplex
google-cloud-bigquery
google-cloud-storage
pandas
python-dotenv
google-auth
google-auth-oauthlib
google-auth-httplib2
authlib
starlette
fastapi
uvicorn
google-cloud-datacatalog-lineage
google-cloud-datacatalog
google-cloud-aiplatform
google-genai
google-cloud-bigquery-datapolicies
google-cloud-recommender
pyOpenSSL
reportlab
